body {
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #cce500, #aacc00);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1, h2, h3 {
  margin-top: 0;
  color: #1f2a44;
}

.text
{
  text-align: justify;
}


.login-img {
  width: 100%;
  max-width: 480px;
  max-height: 560px;   
  object-fit: contain;

  display: block;
  margin: auto;
  border-radius: 24px;
}



/* PERFIL */
.perfil-content {
  display: flex;
  gap: 20px;
}

/* GRUPOS */
.groups-img {
  width: 100%;
  height: 560px;
  max-width: 480px;
  object-fit: contain;

  display: block;
  margin: auto;
  border-radius: 24px;
}

/* ESTUDIANTES */
.estudiante {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.tag.orange { background: #f39c12; }
.tag.green { background: #2ecc71; }
.tag.red { background: #e74c3c; }


