body {
  margin: 0;
  padding: 30px;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #cce500, #aacc00);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1, h2, h3 {
  margin-top: 0;
  color: #1f2a44;
}

.text
{
  text-align: justify;
}

/* LOGIN */
.login-img {
  width: 100%;
  max-width: 480px;
  max-height: 560px;   
  object-fit: contain;

  display: block;
  margin: auto;
  border-radius: 24px;
}



/* PERFIL */
.perfil-content {
  display: flex;
  gap: 20px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 12px;
}

/* CURSOS */
.grid-cursos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.curso {
  padding: 15px;
  border-radius: 12px;
  color: white;
}

.curso.red { background: #e74c3c; }
.curso.blue { background: #3498db; }
.curso.dark { background: #2c3e50; }

/* GRUPOS */
.grupo {
  background: #f1f4f9;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* ESTUDIANTES */
.estudiante {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  padding: 6px 12px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
}

.tag.orange { background: #f39c12; }
.tag.green { background: #2ecc71; }
.tag.red { background: #e74c3c; }


